[default]
directory = ./mnt/pdf
processed_pdf = ./mnt/text/pdf
processed_text = ./mnt/text/text
llm_models = ./mnt/models

interval = 10

# PDFメタデータ用
author = Coela
producer = PDF2TEXT
title = "Sample Title"
subject = "Sample Subject"
creator = "Document Scanner"
customfield = "CustomValue"

# ページ設定
page_option = -1
